<%= simple_form_for(extra_order, :url => extra_orders_path, :method => :post, remote: true) do |form| %>
  <%= form.input :order_id, as: :hidden, :input_html => { value: session[:order_id] } %>
  <%= form.input :extra_id, as: :hidden, :input_html => { :id => "extra_id" } %>
  <%= form.input :action_cart, as: :hidden, :input_html => { :id => "action_cart" } %>
  <%= form.button :submit, :style => "display: none;" %>
<% end %>

<div class="container text-center padded-bottom">
  <div class="select">
    <h2>Which extras do you want to add to your Basket, delivered weekly?</h2>
  </div>
<!-- FILTER -->
  <div class="filter">
    <h4>Filter by category</h4>
    <%= form_tag baskets_search_path, method: :get, remote: true, :class => "form-inline checkbox-circle checkbox-primary" do %>
      <%= check_box_tag :ingredients, 'ingredients', params[:ingredients].present? %>
      <%= label_tag 'ingredients' %>
      <%= check_box_tag :bakery, 'bakery', params[:bakery].present? %>
      <%= label_tag 'bakery' %>
      <%= check_box_tag :dairy, 'dairy', params[:dairy].present? %>
      <%= label_tag 'dairy' %>
      <%= check_box_tag :beverages, 'beverages', params[:beverages].present? %>
      <%= label_tag 'beverages' %>
      <%= submit_tag 'Filter' %>
    <% end %>
  </div>
  
  <br>
   
    <!-- END FILTER -->



  <div class="row">
    <% extras.each do |extra| %>

      <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4">
        <div class="card-container pointer">
          <div data-id="<%=extra.id%>" class="card-wrapper">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path extra.photo, crop: :fill %>')">

              <%= cl_image_tag extra.producer.photo.url, class: "card-user avatar pointer",
                       "data-toggle" => "modal", "data-target" => "#modal-#{extra.producer_id}" %>

            </div>
              <div class="card-product">
                <h2> <%= extra.name %> </h2>
              </div>


              <div class="card-price">
                <h3> <%= humanized_money_with_symbol(extra.price) %> </h3>
              </div>
          </div>

          <div class="info">
            <p> <%= extra.info %> </p>
          </div>

          <div class="quantity">
            <ul class="list-inline">
              <li data-id="<%=extra.id%>" class="remove-item"><h4>-</h4></li>
              <li><%= render 'extra_orders/qtd_counter', quantity: initial_quantity(extra), extra: extra %></li>
              <li data-id="<%=extra.id%>" class="add-item"><h4>+</h4></li>
            </ul>
          </div>

        </div>
      </div>

      <!-- MODAL -->

      <div class="modal fade producer-modal" id="modal-<%= extra.producer_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

              <%= cl_image_tag extra.producer.photo.url, class: "avatar-large" %>

              <h1 class="modal-title"><%= extra.producer.name %></h1>
              <h4 class="modal-title"><%= extra.producer.city %></h4>
            </div>
            <div class="modal-body">
              <p> <%= extra.producer.bio %> </p>
            </div>

          </div>
        </div>
      </div>

      <!-- END MODAL -->

    <% end %>
  </div>
</div>


