<div class="cart-footer">
  <div class="your-basket">
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    <h2>YOUR</h2>
    <h2>BASKET</h2>
  </div>
  <div class="horizontal-scroll">
    <ul class="list-inline">
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    <li><i class="fa fa-plus" aria-hidden="true"></i></li>
    <li><%= render 'baskets/cart_card'%></li>
    </ul>
  </div>

  <div class="total">

    <div class="price">
      <p>TOTAL<p>
      <h3>$123.99</h3>
    </div>


    <div class="review-order" id="review-footer-button">
      <p>CHECKOUT<p>
      <i class="fa fa-lg fa-chevron-circle-right" aria-hidden="true"></i>
    </div>

  </div>
</div>
