<%= simple_form_for(@basket, :url => orders_path, :method => :post, remote: true) do |form| %>
  <%= form.input :category, :as => :hidden, :input_html => { :id => "category" } %>
  <%= form.input :size, :as => :hidden, :input_html => { :id => "size" } %>
  <%= form.button :submit, :type => :hidden %>
<% end %>

<div class="container text-center">
  <div class="select" id="pick-size">

    <h2>Pick the size of your Basket</h2>
    <div class="row" id="basket-size">

      <div data-size="small" class="basket-size">
        <div  class="col-sm-4 col-xs-12" class="">
          <%= image_tag "size-s.png", class: "hvr-float" %>
          <h4>Small</h4>
        </div>
      </div>

      <div data-size="medium" class="basket-size">
        <div data-size="medium" class="col-sm-4 col-xs-12">
          <%= image_tag "size-m.png", class: "hvr-float" %>
          <h4>Regular</h4>
        </div>
      </div>

      <div data-size="large" class="basket-size">
        <div data-size="large" class="col-sm-4 col-xs-12">
          <%= image_tag "size-g.png",class: "hvr-float" %>
          <h4>Big</h4>
        </div>
      </div>

    </div>
  </div>
</div>
