<div class="container text-center" >
  <div class="select" >
    <div class="row">
      <div class="col-md-12 ">
        <h2><i class="fa fa-shopping-basket" aria-hidden="true"></i>   Review and update your order</h2>
      </div>
    </div>

<!-- display basket choice -->
    <div class="row ">
      <div class="col-sm-12 padded">

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div >
                <%= image_tag order.basket.category_url, class: "cart-card-basket" %>
                </div>
            </div>
            <div class="vertical-aligned">
              <div class="col-xs-12 col-sm-8">
                <div class="review">
                  <h4><%= image_tag order.basket.size_url, class: "avatar-basket-size" %> &nbsp;&nbsp;<%= order.basket.size.upcase %> BASKET WITH <%= order.basket.category.upcase %>, DELIVERED WEEKLY.</h4>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <hr>

<!-- display extras -->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 row-cart ">
            <h4>EXTRAS</h4>
          </div>
        </div>
        <div class="row ">
          <div class="cart-card-extras">
            <ul class="list-inline">
              <% order.extra_orders.each do |extra_order| %>
                <li>
                  <div class="cart-card-container">
                  <%#= render 'extra_orders/badge_counter', extra_order: extra_order %>
                    <div id="qtd-badge-<%= extra_order.extra.id %>" class="badge badge-green"> <%= extra_order.quantity %>
                    </div>
                    <%= image_tag extra_order.extra.photo, class: "review-extras" %>
                    <a class="card-link" href="#" ></a>
                  </div>
                </li>

              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <br>
    <hr>

<!-- display producers -->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 row-cart ">
            <h4>YOU ARE BUYING PRODUCTS FROM THESE PRODUCERS:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="cart-card-producers">
              <ul class="list-inline">
                <% uniq_producers(order.extra_orders).each do |producer| %>
                    <li >
                      <div>
                        <%= cl_image_tag producer.photo.url, class: "avatar" %>
                        <%= producer.name %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br>
    <hr>

<!-- display total -->
    <div class="row">
      <div class="col-xs-12 col-sm-8"></div>
      <div class="col-xs-12 col-sm-4">
        <div class="review-total" id="total-button">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <div class="review-price">
                <p>TOTAL<p>
                 <h3> <%= humanized_money_with_symbol(@order.basket.price + sum_extras) %> </h3>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="review-order-total " id="submit-order">
                <p><%= link_to "SUBMIT", pick_address_order_path(@order.id), method: :get, remote: true %></p>&nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-chevron-circle-right" aria-hidden="true"></i>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
