<div class="container">
  <%= render 'baskets/basket_menu' %>

  <div class="padded text-center">
    <div class="tab-content" id="selectbasket">
      <%= render 'baskets/select' %>
    </div>
    <div class="tab-content hidden" id="picksize">
      <%= render 'baskets/pick_size' %>
    </div>
    <div class="tab-content hidden" id="addextras">
      <%= render 'baskets/add_extras' %>
    </div>
    <div class="tab-content hidden" id="revieworder">
      <%= render 'baskets/review' %>
    </div>
    <div class="tab-content hidden" id="address">
      <%= render 'baskets/address' %>
    </div>
    <div class="tab-content hidden" id="paymentconfirmation">
      <%= render 'baskets/confirmation' %>
    </div>
  </div>
</div>

  <%= render 'baskets/footer_cart' %>



