<div class="map_box" style="position: relative">
  <div class="delivery_point text-center title"><%= delivery_point.name %></div>
  <br>
  <div class="delivery_point text-center"><%= delivery_point.address %></div>
  <br>
  <%= simple_form_for(@order, :url => set_address_order_path(@order.id), :method => :post, remote: true) do |form| %>
    <%= form.input :delivery_point, :as => :hidden, :input_html => { value: delivery_point.id } %>
    <%= form.submit "Select this delivery point", class: "btn btn-primary", aria_pressed: "true" %>
  <% end %>
</div>





