<h2>Hello <%= @user.first_name %>!</h2>
<h4>Personnal informations</h4>
<p>First name</p>
<%= @user.first_name %>
<p>Last name</p>
<%= @user.last_name %>
<p>Email address</p>
<%= @user.email %>
<p>Address</p>
<%= @user.street_address %>
<p>City</p>
<%= @user.city %>

<%= link_to "Edit my profile", edit_user_path(@user), class: "btn btn-primary", aria_pressed: "true", name: "Edit profile" %>
