<div class="filter">
  <h4>Filter by category</h4>
  <%= form_tag root_path, method: :get, :class => "form-inline checkbox-circle checkbox-primary" do %>
    <%= label_tag "dairy", raw("#{check_box_tag('dairy')} Dairy") %>
    <%= label_tag "bakery", raw("#{check_box_tag('bakery')} Bakery") %>
    <%= label_tag "beverage", raw("#{check_box_tag('beverage')} Baverage") %>
    <%= label_tag "ingredients", raw("#{check_box_tag('ingredients')} Ingredients") %>
  <% end %>
</div>
