<div class="container text-center" >
  <div class="select" >
    <div class="row">
      <div class="col-md-12 ">

        <h2><i class="fa fa-shopping-basket" aria-hidden="true"></i>
        Your order was place succesfully<br>
        and will be delivered to this address<br>
        every Tuesday morning</h2>
        <br>
        <h4><%= @order.delivery_point.address %></h4><br>
      </div>
    </div>

    <div class="text-center">
      <%= render "baskets/map_delivery_point_selected" %>
    </div>

    <br>
    <hr>

    <br>
    <h5><%= @order.basket.size.upcase %> BASKET WITH <%= @order.basket.category.upcase %>, DELIVERED WEEKLY.</h5>
    <br>
    <ul class="list-inline">
        <li><%= image_tag @order.basket.category_url, class: "cart-card-basket" %></li>
        <li class="plus-sign"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></li>
        <li><%= image_tag @order.basket.size_url, class: "avatar-basket-size" %></li>
    </ul>

    <br>
    <hr>

    <!-- display extras -->
    <div class="horizontal-scroll-review">
      <div id="mini-card-cart">
        <h5>EXTRAS</h5>
        <ul class="list-inline">
        <% @order.extra_orders.order(:created_at).each do |extra_order| %>
          <li>
            <div class="cart-card-container">
              <%#= render 'extra_orders/badge_counter', extra_order: extra_order %>
              <div id="qtd-badge-<%= extra_order.extra.id %>" class="badge badge-green"> <%= extra_order.quantity %> </div>
              <div class="cart-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path extra_order.extra.photo, crop: :fill %>')">
                <h2><%= extra_order.extra.name %></h2>
              </div>
            </div>
          </li>
          <li class="plus-sign"><i class="fa fa-plus" aria-hidden="true"></i></li>
        <% end %>
        </ul>
      </div>
    </div>

    <br>
    <br>
    <hr>
    <br>

    <!-- display producers -->
    <h5>YOU ARE BUYING PRODUCTS FROM THESE PRODUCERS</h5>

    <div class="row">
      <div class="col-xs-13 text-center">
         <ul class="list-inline">
            <% uniq_producers(@order.extra_orders).each do |producer| %>
                <li >
                  <%= cl_image_tag producer.photo, class: "avatar", width: '36', height: '36', gravity: "face", crop: "thumb"%>
                  <%= producer.name %>
                </li>
            <% end %>
          </ul>
      </div>
    </div>

    <br>
    <hr>
    </div>
  </div>
</div>
